$browser-default-font-size: 20px;
@function pxTorem($px) {
    @return $px / $browser-default-font-size * 1rem;
}

@mixin background-image($url) {
    background-image: url($url);
    @media screen and (-webkit-min-device-pixel-ratio: 3), only screen and(min-device-pixel-ratio: 3) {
        background-image: url($url)
    }
}

.wrapper {
    position: relative;
    width: pxTorem(375px);
    height: 100%;
    margin: 0 auto;
    z-index: 2;
}

.page-main {
    //background:#f5f5f5;
    padding-bottom: pxTorem(50px);
    padding-top: pxTorem(85px);
}

.overlay {
    position: fixed;
    height: pxTorem(60px);
    font-size: pxTorem(14px);
    color: #fff;
    line-height: pxTorem(60px);
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    span {
        border-radius: pxTorem(10px);
        background: rgba(0, 0, 0, 0.9);
        padding: pxTorem(20px);
    }
}

.confirm-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 9999;
    .confirm {
        width: pxTorem(270px);
        height: pxTorem(166px);
        background: #fff;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: pxTorem(14px);
        .title {
            font-size: pxTorem(18px);
            color: #000;
            text-align: center;
            padding: pxTorem(10px);
        }
        .tip {
            font-size: pxTorem(14px);
            text-align: center;
            color: #000;
        }
        .handle {
            border-top: pxTorem(1px) solid #dcdcdc;
            width: 100%;
            position: absolute;
            // bottom: 0;
            height: pxTorem(44px);
            div {
                float: left;
                width: pxTorem(134px);
                color: #007aff;
                text-align: center;
                line-height: pxTorem(44px);
                font-size: pxTorem(18px);
            }
            div:first-child {
                border-right: pxTorem(1px) solid #dcdcdc;
            }
        }
    }
}


/*
上下垂直，靠左
*/

.display_cfs {
    display: flex;
    display: -webkit-flex;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
}

.display_tfs {
    display: flex;
    display: -webkit-flex;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
}


/*
上下垂直，左右居中
*/

.display_cc {
    display: flex;
    display: -webkit-flex;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}


/*
上下垂直，左右靠右
*/

.display_ce {
    display: flex;
    display: -webkit-flex;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
}


/*
上下垂直，左右靠边
*/

.display_csb {
    display: flex;
    display: -webkit-flex;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.display_csbfs {
    display: flex;
    display: -webkit-flex;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
}


/*
上下垂直，左右靠边
*/

.display_csa {
    display: flex;
    display: -webkit-flex;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
}

.display_ccfc {
    display: flex;
    display: -webkit-flex;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.display_cfe {
    display: flex;
    display: -webkit-flex;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
}